

<div class="landing_page">
  <div class="landing_image">
    <div class="blue_box">
      <h1>Share-Space</h1>
        <%= render 'search_address' %>
    </div>
  </div>
</div>

<div class="page_contents">

  <h3>Featured Share-Spaces</h3>
  <div class="tiles">
    <% if @addresses != nil %>
      <% @addresses.each do |address| listing = address.addressable %>
        <%= render partial: 'sharespace_venues/tiles', :locals => {:listing => listing} %>
      <% end %>
    <% end %>
  </div>

  <h3>Featured Projects</h3>
  <div class="tiles">
    <% if @addresses != nil %>
      <% @addresses.each do |address| listing = address.addressable %>
        <%= render partial: 'sharespace_venues/tiles', :locals => {:listing => listing} %>
      <% end %>
    <% end %>
  </div>

  <h3>Featured Blogs</h3>
  <div class="tiles">
    <% if @addresses != nil %>
      <% @addresses.each do |address| listing = address.addressable %>
        <%= render partial: 'sharespace_venues/tiles', :locals => {:listing => listing} %>
      <% end %>
    <% end %>
  </div>


</div>
