<div style="margin-left: 30px;">

  <h1>Collab Space Listings</h1>
  <% @sharespace_venues.each do |listing| %>


  <h4 style=""><%= link_to listing.name, listing %></h4>
  <p style=""><%=  listing.address.full_street_address%></p>


  <% end %>

</div>
