/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'variables';
 @import 'mixins';
 @import 'albums';
 @import 'home';
 @import 'sharespace_venues';
 @import 'forms';

html
{
  height: 100%;
  margin: 0;
}
body
{
  font: 1em $font-family;
  height: 100%;
  margin: 0;
  background-color: $light_faded;
  overflow-x: hidden;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}
a
{

}
.date
{
  color: $dark_faded;
}
.checked_star {
    color: orange;
}

#nav_two
{
  display: none;
  @include breakpoint($phone)
  {
    display: block;
  }
}
.nav_box
{
  // background: #6ACBEA;
  @include bluebar(6%);
  @include flexbox(space-between, center);
  padding: 0 10%;
  a:hover
  {
    margin-top: -0.2em;
    color: $dark;
    @include breakpoint($phone)
    {margin-top: 0;}
  }
  a
  {
    text-decoration: none;
    color: white;
    @include link($link_large);
  }
  .booking
  {
    color: $warning;
    font-weight: bold;
  }
  .sharespace_title
  {
    display: none;

    }
  @include breakpoint($phone)
  {
    padding: 0 5%;
    p{display: block;}
    #nav_one{display: none;}
  }
  .icon
  {
    display: none;
    @include breakpoint($phone)
    {
      display: block;
    }
  }
}
.navbar
{
  width: 100%;
  @include flexbox(flex-end, center);
  .sharespace_nav
  {
    margin-right: auto;
  }
  a
  {
    @include breakpoint($phone)
    {
      display: none;
    }
  }
  &.responsive
  {
    @include breakpoint($phone)
    {
      position:absolute;
      @include flexbox(flex-start, flex-start);
      flex-direction: column;
      flex-wrap: wrap;
      background-color: $dark;
      padding: $padding_small 5%;
      z-index: 20;
      box-sizing: border-box;

      a
      {
        width: 100%;
        box-sizing: border-box;
        margin: $margin_small 0;
        display: block;
        color: white;
        @include link($link_medium);
      }
      .booking
      {
        color: $warning;
        font-weight: bold;

      }

    }
  }
}


// Uniform page alignment
.page_contents
{
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
  @include breakpoint($phone)
  {
    padding: 0 2.5%;
  }
}

// Listings
h3
{
  margin: 0.25em 0;
}

.tiles
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: scroll;
  a
  {
    @include link($link_medium);
    color: black;
  }
  &::-webkit-scrollbar {
      display: none;
  }
  @include breakpoint($phone)
  {
    flex-wrap: nowrap;
  }
}

.item
{
  margin: 0.9vw;
  @include width-height(180px, 250px);
  background-color: white;
  padding: $padding_small;
  @include default_shadow;
}
.item h4
{
  margin: 2px 0;
}
.item p
{
  margin: 2px 0;
  opacity: 0.6;
  &:last-child
  {
    opacity: 0.2;
  }
}
.tile_image
{
  @include image_div;
  @include width-height(180px, 160px);
  img
  {
    height: 100%;
  }
}
.item_list
{
  margin: 0;
  padding-top: $padding_small;
  padding-left: 0;
  list-style: none;

  li
  {
    a
    {
      text-align: left;
      width: 100%;
      padding: 0;
    }
    &:first-child
    {
      a
      {font-weight: bold;}
    }
  }
}
