/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import 'variables';
 @import 'mixins';
 @import 'albums';
 @import 'home';
 @import 'sharespace_venues';


html
{
  height: 100%;
  margin: 0;
}
body
{
  font: 1em $font-family;
  height: 100%;
  margin: 0;
}
input::-webkit-calendar-picker-indicator{
    display: none;
}

input[type="date"]::-webkit-input-placeholder{
    visibility: hidden !important;
}
a
{

}

.checked_star {
    color: orange;
}

#nav_two
{
  display: none;
  @include breakpoint($phone)
  {
    display: block;
  }
}
.nav_box
{
  a:hover
  {
    margin-top: -0.2em;
    color: $dark;
    @include breakpoint($phone)
    {margin-top: 0;}
  }
  a
  {
    text-decoration: none;
    color: white;
    @include link($link_large);
  }
  // background: #6ACBEA;
  @include bluebar(6%);
  @include flexbox(space-between, center);
  padding: 0 10%;
  .sharespace_title
  {
    display: none;

    }
  @include breakpoint($phone)
  {
    padding: 0 5%;
    p{display: block;}
    #nav_one{display: none;}
  }
  .icon
  {
    display: none;
    @include breakpoint($phone)
    {
      display: block;
    }
  }
}
.navbar
{
  width: 100%;
  @include flexbox(space-around, center);
  .sharespace
  {
    margin-right: auto;
  }
  a
  {
    @include breakpoint($phone)
    {
      display: none;
    }
  }
  &.responsive
  {
    @include breakpoint($phone)
    {
      position:absolute;
      @include flexbox(flex-start, flex-start);
      flex-direction: column;
      flex-wrap: wrap;
      background-color: $dark;
      padding: $padding_small 5%;
      z-index: 20;
      box-sizing: border-box;
      a{width: 100%;
        box-sizing: border-box;
        margin: $margin_small 0;
        display: block;}

    }
  }
}

// Uniform page alignment
.page_contents
{
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}
