// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page_contents
{
  a
  {
    text-decoration: none;
    color: white;
    @include link($link_large);
  }

}
.landing_page
{
  display: flex;
  justify-content: center;
  height: 550px;
  @include breakpoint($phone)
  {
    height: 300px;
  }

}
.landing_image
{
  width: 100%;
  height: 100%;
  background-image: url('coworking.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blue_box
{
  text-align: center;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: $primary_faded;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include breakpoint($phone)
  {
    justify-content: flex-start;
  }
}
.blue_box h1
{
  font-size: 6em;
  margin: 15px 0;
  color: white;
  @include breakpoint($phone)
  {
    display: none;
  }
}
// Search bar
.search_form
{
  width: 600px;
  height: 50px;
  display: flex;
  margin: $margin_small 0em;
  @include breakpoint($phone)
  {
    width: 95%;
    height: 45px;
    padding: $padding_medium $padding_medium;
    background: $primary;
    margin: 0;
  }
}
.search_bar
{
  @include width-height(75%, 100%);
  @include border(0, none, none, 5px, 0, 0, 5px);
  padding: 0 0.5em;
  margin-right: 0.4em;
}
.search_button
{
  background-color: $light;
  @include width-height(25%, 100%);
  @include border(0, none, none, 0,5px, 5px, 0);
}
