@mixin button($color, $border-width, $padding, $font-size, $font-weight){
  color: $color;
  border: $border-width solid $button-border;
  font-size: $font-size;
  padding: $padding;
  font-weight: $font-weight;
  &:hover {
    color: darken($color, 30%);
  }
}
// Generic flexbox
@mixin flexbox($justify, $align)
{
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
// Link styling
@mixin link($size)
{
  float: left;
  display: block;
  text-decoration: none;
  font-size: $size;
  text-decoration: none;
  text-align: center;
  padding: 0 0.6em;
  -webkit-transition: font-size 1s; /* For Safari 3.1 to 6.0 */
  transition: margin-top 1s;
}
// Reusable bluebar
@mixin bluebar($height)
{
  background: $primary;
  color: white;
  display: flex;
  justify-content: center;
  height: $height;
}
// Image alignment
@mixin image_div
{
  display: flex;
  justify-content: center;
  overflow: hidden;
}
// Box shadow default
@mixin default_shadow
{
  box-shadow: 1.5px 3px 10px #888888;
}
// General div styling
@mixin div_style($margin)
{
  @include default_shadow;
  margin: $margin;
}



@mixin border( $border-width: 0, $type: none, $border-color: none, $bottom-left: 0, $bottom-right: 0, $top-left: 0, $top-right: 0, )
{
  border-width: $border-width;
  border-style: $type;
  border-color: $border-color;
  border-radius: $bottom-left $bottom-right $top-left $top-right;
}
@mixin width-height($width, $height)
{
  width: $width;
  height: $height
}


@mixin breakpoint($width)
{
  @media only screen and (max-width: $width)
  {
    @content;
  }
}
