// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Maine layout
.profile_container_main
{
  padding: 0 10%;
  box-sizing: border-box;
}
// Top grid box
.profile_grid_top
{
  display: grid;
  width: 100%;
  height: 700px;
  grid-template-columns: 70% 30%;
  grid-template-rows: 40% 60%;
}
.profile_images
{
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: $primary;
  @include div_style(0.5rem);
}
.profile_overview
{
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: $primary;
  @include div_style(0.5rem);

}
.profile_projects
{
  grid-column: 2/3;
  grid-row: 1/3;
  background-color: $primary;
  @include div_style(0.5rem);

}
// Bottom grid box
.profile_grid_bottom
{
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
}
.profile_reviews
{
  grid-column: 1/2;
  background-color: $primary;
  @include div_style(0.5rem);
}
.profile_listings
{
  grid-column: 2/3;
  background-color: $primary;
  @include div_style(0.5rem);
}
