
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');



$font-family: 'Roboto', Helvetica, Arial, sans-serif;

// Breakpoints
$phone: 600px;

// Colors
$primary: #419AD4;
$secondary: #3C8DC2;
$dark: #334754;
$light: #83B6D7;

$warning: #B5422F;
// Faded colors (opacity)
$primary_faded: rgba(65, 154, 212, 0.35);
$dark_faded: rgba(80,100,106,0.7);
$light_faded: rgba(131, 182, 215, 0.15);

// Sizings
$link_large: 1.5rem;
$link_medium: 1rem;
$link_small: 0.5rem;

$padding_large: 1.5rem;
$padding_medium: 1rem;
$padding_small: 0.5rem;

$margin_large: 1.5rem;
$margin_medium: 1rem;
$margin_small: 0.5rem;
$margin_tiny: 0.25rem;
